.ava {
  width: 32px;
  box-shadow: 1px 1px 5px 1px cyan, -1px -1px 5px 1px lime;
}

.authors,
.labeled {
  font-size: medium;
  text-transform: uppercase;
  text-decoration: underline solid blueviolet;
}

time {
  padding-left: 10px;
  padding-right: 10px;
}
