{% extends "main.html" %}
{% block styles %} {{ super() }}
{% endblock %}
{% block tabs %} {{ super() }}
{% endblock %}
<!-- Content -->
{% block content %}
{{ super() }}
<div id="app">
</div>
<!---->
<!--    <div>-->
<!--        <span id="rangeValue">1</span>-->
<!--        <Input class="range" type="range" name "" value="1" min="1" max="48" onChange="rangeSlide(this.value)"-->
<!--        onmousemove="rangeSlide(this.value)"></Input>-->
<!--    </div>-->

{{ content }}
{% endblock %}
{% block scripts %}
<!-- Add scripts that need to run before here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ 'javascripts/main.js' | url }}"></script>
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
{% endblock %}