<!-- Add announcement here, including arbitrary HTML -->
<div>
  <span class="twemoji">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="m23 12-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12m-10 5h-2v-2h2v2m0-4h-2V7h2v6Z">
      </path>
    </svg>
  </span>
  Congratulations <span class="shine">BackNBlack</span> on taking <b>World Top #1!</b>
  <span class="twemoji heart-throb heart"><img
      src="https://em-content.zobj.net/thumbs/160/google/350/anatomical-heart_1fac0.png"
      srcset="https://em-content.zobj.net/thumbs/320/google/350/anatomical-heart_1fac0.png"
      alt="Anatomical Heart on Google Noto Color Emoji 15.0" width="16" height="16"></span>
</div>
<div>
  <span class="twemoji">✨</span>
  <span class="shine-reverse">No Mercy</span> with <b>Top #1 RU</b>!
  <span class="twemoji">🦹🏻‍♂️</span>
</div>