#main-event {
  position: relative;

  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  margin: 1em 0;
  align-items: center;
  background-color: rgba(90, 90, 220, 0.328);
  border-radius: 10px;
  padding: 14px;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
    0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
}

#abex-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.labeled-container {
  padding: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.labeled-container > input[type*="number"] {
  color: black;
  width: 50px;
  height: 25px;
  margin: 10px;
  border-radius: 10px;
  text-align: end;
  background-color: aliceblue;
}

.labeled-container > input[type*="checkbox"] {
  margin: 15px;
  background-color: aliceblue;
}
.outbox {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
}

#rem-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 20px;
}

.main-e-label {
  display: flex;
  background-color: blueviolet;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
    0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
  border: 0.5px outset orange;
}

#attack-app {
  display: block;
}

.member {
  background-color: gray;
  border-radius: 10px;
  margin-left: 10px;
  padding: 2px 5px 0;
}

.team-set-inputs {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// new style
#team-set {
  position: relative;

  label {
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  > label {
    display: inline-flex;
    max-width: 300px;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100px;

    &::after {
      content: "     ";
      margin-right: 10px !important;
    }
  }

  img {
    width: 30px;
    height: auto;
    margin-left: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    line-height: 2;
    color: var(--text);
    padding: 0;
    margin: 0;
    margin-left: 10px;
    padding-left: 7px;
    border: 1px solid rgba(114, 114, 114, 0.4470588235);

    &::-webkit-inner-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: 0;
    }
  }

  .team-set-nav {
    position: relative;
    height: 33px;
    bottom: 44px;
    left: 50px;
  }

  .team-set-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: var(--text);
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.team-set-up {
      position: absolute;
      height: 20px;
      top: 5px;
      left: 5px;
      border-bottom: 1px solid #eee;
    }

    &.team-set-down {
      position: absolute;
      bottom: -10px;
      left: 5px;
      height: 60%;
    }
  }
}

///attacks

.attack-inputs {
  // background: linear-gradient(100deg, #402, #006);
  padding: 2em;
  min-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  // animation: background-move 10s linear infinite;
  // background-size: 100vw auto, 100% 100%;
  // background-size: unquote("max(100vw, 30em)") auto, 100% 100%;
}

.attack-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;

  @supports (mix-blend-mode: darken) {
    position: relative;
    mix-blend-mode: lighten;

    &__label {
      position: absolute;
      left: 3em;
      top: -0.28em;
      background: #000;
    }
  }

  &__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #ccd;
    color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
  }

  &__input {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
    height: calc(1em + 0.6em + 0.5em);
    width: 80%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;

    &:hover {
      background-position: 100% 0;
    }

    &:focus {
      outline: 2px dashed #ad2b89;
      outline-offset: 0.5em;
    }
  }
}
.pet-sele,
.hero-selection {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="ch-"] {
    display: none;
  }

  label {
    border: 0 solid #7368684c;
    padding: 5px;
    display: block;
    position: relative;
    margin: 5px;
    cursor: pointer;

    img {
      height: 50px !important;
      width: 50px !important;
      transition-duration: 0.2s !important;
      transform-origin: 70% 70% !important;
    }

    &::before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid grey;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(0);
    }
  }

  :checked + label {
    border-color: #ddd;
  }

  :checked + label:before {
    content: "✓";
    background-color: rgba(1, 170, 63, 0.751);
    transform: scale(1.5);
    z-index: 100;
  }

  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }
}
#comm__label,
#dps__label {
  max-width: 250px;
  margin: 5px;
}

#dps-table {
  width: 10vw;
}
