#main-event {
  position: relative;

  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  margin: 1em 0;
  align-items: center;
  background-color: rgba(90, 90, 220, 0.328);
  border-radius: 10px;
  padding: 14px;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
    0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
}

#abex-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.labeled-container {
  padding: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.labeled-container > input[type*="number"] {
  color: black;
  width: 50px;
  height: 25px;
  margin: 10px;
  border-radius: 10px;
  text-align: end;
  background-color: aliceblue;
}

.labeled-container > input[type*="checkbox"] {
  margin: 15px;
  background-color: aliceblue;
}
.outbox {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
}

#rem-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 20px;
}

.main-e-label {
  display: flex;
  background-color: blueviolet;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
    0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
  border: 0.5px outset orange;
}

#attack-app {
  display: block;
}

.member {
  background-color: gray;
  border-radius: 10px;
  margin-left: 10px;
  padding: 2px 5px 0;
}

.team-set-inputs {
  display: flex;
}

// .team-set-inputs-number {
//   display: block;
//   margin-left: 5px;
//   margin-right: 5px;
//   width: 50px;
//   color: black;
// }

#team-set img {
  width: 34px;
  height: auto;
  margin-left: 15px;
}

// new style
#team-set {
  position: relative;
}
#team-set label {
  max-width: 100px;
}
#team-set > label {
  display: inline-flex;
  max-width: 300px;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#team-set > label::after {
  content: "     ";
  margin-right: 10px !important;
}
#team-set > label > * {
  // margin-left: 10px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#team-set input {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  line-height: 1.65;
  float: left;
  display: block;
  color: rgb(21, 8, 8);
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding-left: 20px;
  border: 1px solid #72727272;
}

#team-set input:focus {
  outline: 0;
}

.team-set-nav {
  float: left;
  position: relative;
  height: 38px;
}

.team-set-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.team-set-button.team-set-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.team-set-button.team-set-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

///attacks
///
///
///
.attack-inputs {
  // background: linear-gradient(100deg, #402, #006);
  padding: 2em;
  min-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #ffffff;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
  //   linear-gradient(80deg, #202, #006);
  background-position: 50% 50%;
  // animation: background-move 10s linear infinite;
  // background-size: 100vw auto, 100% 100%;
  // background-size: unquote("max(100vw, 30em)") auto, 100% 100%;
}

// @keyframes background-move {
//   0% {
//     background-position: 0 0, 0 0;
//   }
//   100% {
//     background-position: 100vw 0, 0 0;
//     background-position: unquote("max(100vw, 40em)") 0, 0 0;
//   }
// }

.attack-inputs {
  width: 100%;
  // max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @supports (mix-blend-mode: darken) {
    position: relative;
    mix-blend-mode: lighten;

    &__label {
      position: absolute;
      left: 3em;
      top: -0.28em;
      background: #000;
    }
  }

  &__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    color: #ccd;
    color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
  }

  &__input {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;

    &:hover {
      background-position: 100% 0;
    }

    &:focus {
      outline: 2px dashed #ad2b89;
      outline-offset: 0.5em;
    }
  }
}

// .team-tree-branch {
//   display: flex;
//   flex-direction: row;
//   margin: 10%;
//   background: #1877777a;
//   width: 230px;
//   border-radius: 20px;
//   color: chocolate;
//   flex-wrap: wrap;
//   align-content: center;
//   justify-content: space-between;
//   align-items: center;
// }

// :root {
//   //--background-size: 50vw;
//   --background-size: unquote("min(100vw, 40em)");
// }

// html {
//   font-size: calc(100% + 0.5vw);
// }

// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation: none !important;
//     transition-duration: 0.001s !important;
//   }
// }

// #rc {
//   border-radius: 10px;
//   width: 200 px;
//   height: 35px;
//   margin: 20px;
//   color: #f09;
// }

// .team-info {
//   display: block;
//   width: 100%;
// }
// #team-attacks-form {
//   // #team-attacks-add-member {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: flex-start;
//   justify-content: space-between;
//   align-content: flex-end;
//   background: linear-gradient(100deg, #402, #006);
//   width: 100%;
//   padding: 2em;
//   min-height: 100vh;
//   background-color: #ffffff;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
//     linear-gradient(80deg, #202, #006);
//   background-position: 50% 50%;
//   animation: background-move 10s linear infinite;
//   background-size: 100vw auto, 100% 100%;
//   background-size: unquote("max(100vw, 30em)") auto, 100% 100%;
// }

// @keyframes background-move {
//   0% {
//     background-position: 0 0, 0 0;
//   }
//   100% {
//     background-position: 100vw 0, 0 0;
//     background-position: unquote("max(100vw, 40em)") 0, 0 0;
//   }
// }

// #team-attacks-add-member {
//   width: 100%;
//   // max-width: 20em;
//   display: flex;
//   flex-direction: column;
//   z-index: 2;

//   @supports (mix-blend-mode: darken) {
//     position: relative;
//     mix-blend-mode: lighten;

//     &__label {
//       position: absolute;
//       left: 3em;
//       top: -0.28em;
//       background: #000;
//     }
//   }

//   &__label {
//     padding: 0 0.5em;
//     margin-bottom: 0.5em;
//     text-transform: uppercase;
//     font-size: 0.875em;
//     letter-spacing: 0.1em;
//     color: #ccd;
//     color: rgba(255, 220, 255, 0.6);
//     cursor: pointer;
//   }

//   &__input {
//     color: #fff;
//     font-size: 1.25rem;
//     line-height: 1;
//     border-style: none;
//     outline: none;
//     // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
//     height: calc(1em + 1.6em + 0.5em);
//     width: 100%;
//     padding: 0.8em 1em;
//     border: 0.25em solid transparent;
//     background-image: linear-gradient(#000, #000),
//       linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
//     background-origin: border-box;
//     background-clip: padding-box, border-box;
//     border-radius: 1.8em;
//     background-size: 200% 100%;
//     transition: background-position 0.8s ease-out;

//     &:hover {
//       background-position: 100% 0;
//     }

//     &:focus {
//       outline: 2px dashed #ad2b89;
//       outline-offset: 0.5em;
//     }
//   }
// }
