@import "../extensions/admonition", "../palette/dracula";

@media screen and (min-width: 45em) {
  .md-typeset .inline {
    margin-bottom: 0.8rem;
    margin-top: 0;
    max-width: 20.7rem;
    width: fit-content;
  }
}

.quote > p.admonition-title {
  display: flex;
  align-items: center;
  padding: 10px;
}

.quote > p.admonition-title > a {
  margin-right: 15px;
}

li > a > img {
  border-radius: 0;
}
