@import "../extensions/admonition", "../palette/dracula";

@media screen and (min-width: 45em) {
  .md-typeset .inline {
    width: fit-content;
    max-width: 20.7rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}

.quote > p.admonition-title {
  align-items: center;
  padding: 10px;
}

.quote > p.admonition-title > a {
  margin-right: 15px;
}

li > a > img {
  border-radius: 0;
}

summary > .md-button {
  right: 10vw !important;
}

.admonition-title > .md-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
