.md-typeset table:not([class]) {
  display: table;
}
.md-typeset table:not([class]) td:not([align]),
.md-typeset table:not([class]) th:not([align]) {
  text-align: center;
}

.md-typeset__table {
  display: table !important;
  width: 100% !important;
}

table {
  margin: 20px auto;
  overflow: hidden !important;
  font-size: 15px;
  border-bottom: 2px solid #00cccc;
  border-radius: 0.6rem !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover td {
  color: #72c2ca;
  background-color: #5701eb37;
}

table th,
tbody td {
  min-width: 0;
  max-width: 0;
  padding: 0 !important;
  word-break: break-word;
}

tr:nth-child(even) {
  background-color: #ffd4002b;
}

tr td:first-of-type {
  color: #ff006e;
  font-weight: 700;
}

tr td:last-of-type {
  font-weight: 600;
  font-style: oblique;
}

th {
  margin-bottom: 1px;
  padding-left: 0;
  vertical-align: middle;
}

.md-typeset table:not([class]) th {
  min-width: 100px;
}

@media (max-width: 900px) {
  .md-typeset table:not([class]) th {
    min-width: 75px;
  }
}

thead th,
tfoot td {
  padding: 6px !important;
  color: #400bad;
  text-transform: uppercase;
  background-color: #bada55;
}

.meta-table {
  display: table;
  width: 90%;
  margin: 0;
  text-align: center;
  transform: scale(0.7);
  thead {
    height: min-content;
    padding: 2px;
  }
  td {
    vertical-align: middle;
  }
}

#team-attacks-form {
  width: 100%;
}
