.base-timer {
  position: relative;
  width: 120px;
  height: 120px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
  background-color: rgba(0, 255, 255, 0.87);
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #bada55;
}

.base-timer__path-remaining.orange {
  color: #eba100;
}

.base-timer__path-remaining.red {
  color: #eb0c0c;
}

.base-timer-label {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  color: rgb(31, 1, 34);
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em rgb(0, 238, 255);
}
