{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "at-rule-no-vendor-prefix": null,
    "color-hex-length": "long",
    "comment-empty-line-before": [
      "always",
      {
        "ignore": [
          "stylelint-commands"
        ]
      }
    ],
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-url-quotes": "always",
    "no-descending-specificity": null,
    "no-unknown-animations": true,
    "property-no-vendor-prefix": null,
    "selector-class-pattern": "^[a-z0-9]+(-[a-z0-9]+)*(__[a-z]+)?(--[a-z]+)?$",
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ],
    "unit-allowed-list": [
      "px",
      "deg",
      "ms",
      "%",
      "vw",
      "vh",
      "dppx",
      "em",
      "rem",
      "s"
    ],
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": null,
    "function-no-unknown": null,
    "annotation-no-unknown": [
      true,
      {
        "ignoreAnnotations": [
          "default"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "docs/theme/css/main.css"
  ]
}