site_name: AFK. All You Want To Know
site_url: https://hootsdev.github.io/afk.GG/

copyright: >-
  Copyright &copy; 2023 HOOTSMAN –
  <a href="#__consent">Change cookie settings</a>
  afk.GG is an 'AFK Arena' fansite, and is not affiliated with Lilith Games in any way.

theme:
  name: material
  custom_dir: overrides
  extra_css:
    - stylesheets/extra.css
  # extra_javascript:
  # - javascripts/extra.js
  
  palette:
    # Palette toggle for light mode
      # deep orange + lime
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: orange
      accent: lime

    # Palette toggle for dark mode
        # color pairs:
        # deep purple + lime/orange/amber
        # deep orange + lime
        # black + orange/amber
        # cyan + amber/deep purple
        # blue grey + deep purple
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: deep purple
      accent: amber
    # Good ones fonts: Roboto Flex, Open Sans
    # text: Open Sans
    # text: Roboto Flex
    # text: Google Sans
    # code: Fira Mono
  font:
    text: Font Awesome
    code: Google Sans Mono
  favicon: converted/favicon.jpg
  logo: converted/logo2rv2.jpg
  language: ru

  features:
    - header.autohide
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - navigation.sections
    - navigation.expand
    # - toc.integrate
    - toc.follow
    # - navigation.tabs.sticky
    - navigation.indexes

# Plugins
plugins:
  - search:
      lang: ru
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - glightbox:
      draggable: false
      # auto_caption: true
      # caption_position: bottom
  - table-reader
  # sponsor feature, maybe someday
  # - privacy:
  #     enabled: !ENV [CI, false]
  #     links_attr_map:
  #       target: _blank
  #       links_noopener: true
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discordid.netlify.app/?id=88370628763078656
      name: HOOTSMAN


  # homepage: https://hootsdev.github.io/afk.GG/
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    actions:
      - accept
      - manage
  # version:
  #   provider: mike

      # slugify: !!python/object/apply:pymdownx.slugs.slugify
      # permalink: "\ue112"
      # title: On this page
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
      auto_title: true
      linenums_style: pymdownx-inline
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.critic
  # - pymdownx.snippets

nav:
  - Main: index.md
  # - nm: nmem.md
  - База знаний:
      - _guides/index.md
      - Ресурсы сообщества: _guides/links.md
      - Инфографика: _guides/infographics.md
      - TRESCAMBLE. Охота за костылями: _guides/trescamble.md
  - СНГ Топ:
      - _events/index.md
      - Abyssal Expedition/Бездна: _events/abex.md
      - Hunting Fields/Охотничьи угодья: _events/hf.md
  - Discord: dis.md
  - Блог:
      - _coolstory/index.md
      - Мемы. Сделанно в СНГ: _coolstory/meme.md
      - RU Community: _coolstory/makerugreatagain.md
      - No Mercy: _coolstory/nm-respect.md
      - The Hospital: _coolstory/th-retirement.md
