mkdocs-material==9.*
# mkdocs-material[imaging]==*

# plugins
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-minify-plugin

CairoSVG
Pillow
openpyxl
pyarrow

# prerequisites https://pymd4c.dcpx.org/installation.html#prerequisites
# pymd4c>=1.1.2

#test
# mkdocs-git-authors-plugin>=0.7.2
