figure > img {
    overflow: hidden;
    border-radius: 10px;
}

.red-font {
    color: #eb01aa !important;
}

.green-f {
    color: green !important;
}

.brown-f {
    color: brown !important;
}

.cyan-f {
    color: cyan !important;
}

em {
    color: skyblue;
}

img {
    border-radius: 10px;
}


a[href$="income/"]::before {
    content: "NEW!";
    color: red;
    padding-right: 15px;
    display: contents;
}


/* .upd::after , */
a[href$="th-retirement/"]::after,
a[href$="#before-beginning"]::after {
    content: "UPD!";
    color: red;
    padding-left: 20px;
    display: contents;
}

h1 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

h2 {
    text-shadow: #FC0 1px 0 10px;
}