@import "varr";

#tbl {
    display: block;
    margin: auto;
    width: 8em;
}

#a-form {
    display: flex;
    border: 1px solid #bada55;
    border-radius: 10px;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
    max-height: 120px;
    align-items: center;
    align-content: stretch;
    background-color: var(--containers-bg);
}

@media (max-width: 900px) {
    #a-form {
        display: inline-flex;
        max-height: 300px;
    }

    #app {
        display: flex;
        justify-content: space-evenly;
    }
}

output:before {
    content: "Total Income";
    margin: 0;
    color: orange;
    background: linear-gradient(190deg, #700bad, #200bad);
    padding: 5px; //0 0 5px;
    border: 1px solid #500bad;
    border-bottom-right-radius: 10px;
    font-weight: 900;
}

output {
    padding-bottom: 10px;
    margin: 5px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: var(--containers-bg);
}

@media (max-width: 900px) {
    output {
        display: inline-flex;
        flex-direction: row;
    }
}

output > div {
    padding: 2px 20px;
}

output > div {
    padding: 2px 20px;
}

span > label {
    display: block;
    padding-left: 5px;
}


span {
    color: var(--text);
    margin-right: auto;
    margin-left: auto;
}

span > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
