@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1em;
    color: #999;
    font-weight: 400;
}

.range {
    width: 100px;
    height: 10px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #700bad;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #bada55;
}