// general stuff
$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(180deg, #2E303D, #141419);
//$gradient: linear-gradient(35deg, #2E303D, #2e33ad);
// $def-gradient: linear-gradient(180deg, #684dba, #3aebcb, #7beb3a, #eba73a, #dd58d2);
$def-gradient: linear-gradient(225deg, #ffffffb5, rgba(165, 144, 48, 0.621));
$option: #320a28;
$slider-radius: 20px;


// dark theme vars
$dark-bg: #141419;
$d-wrapper: #2c313d;
$d-text: snow;
$d-sel-text: white;
$d-foot-bg: #{$dark-bg};
$d-foot-fg: #{$d-text};
$d-tabs-bg: #222200de;
$d-nav-link: #ffffff;


// light theme vars
$light-bg: snow;
$light-bg2: #cdcdaf;
$l-text: #373737;
$l-sel-text: #280808;
$l-foot-bg: wheat;
$l-foot-fg: #1d1810;
$l-tabs-bg:#22220077;
$l-nav-link: #ffff;
$ladmo-bg: linear-gradient(45deg, rgba(119, 101, 20, 0.491), #ffffffb5);
$l-def-bg: linear-gradient(45deg, rgba(117, 117, 117, 0.383), #32323217);

$dadmo-bg: linear-gradient(45deg, rgba(102, 102, 102, 0.605), #bebebebe);
$d-def-bg: linear-gradient(222deg, rgba(44, 42, 42, 0.198), #0026375b);




[data-md-color-scheme=slate] {
    --slate-gradient: #{$gradient};
    --containers-bg: #{$d-wrapper};
    --nav-color: #{$d-wrapper};
    --text: #{$d-text};
    --md-code-bg-color: #{$light-bg2};
    --md-code-fg-color: #{$dark-bg};
    --select-font-color: #{$d-sel-text};
    --md-footer-bg-color: #{$d-foot-bg};
    --md-footer-fg-color: #{$d-foot-fg};
    --tab-bg: #{$d-tabs-bg};
    --nav-link: #{$d-nav-link};
    --md-admonition-bg-color: #{$dadmo-bg};
    --md-default-bg: #{$d-def-bg};

}

[data-md-color-scheme=default] {
    --md-admonition-bg-color: #{$ladmo-bg};
    // --nav-link: #{$l-nav-link};
    --nav-color: #{$glass};
    --slate-gradient: #{$def-gradient};
    --containers-bg: #{$light-bg};
    --text: #{$l-text};
    --select-font-color: #{$l-sel-text};
    --md-footer-bg-color: #{$l-foot-bg};
    --md-footer-fg-color: #{$l-foot-fg};
    --tab-bg: #{$l-tabs-bg};
    --md-default-bg: #{$l-def-bg};

}