.relic-tooltip {
  display: none;
}

.inventory.relic > img:hover + .relic-tooltip {
  position: absolute;
  display: inline-block;
  background: #2a5f6187;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid;
  width: max-content;
  z-index: 1;
}

.relic-tooltip * {
  display: table-cell;
}



#abex-form,
.outbox {
  display: flex;
  margin: 20px;
  justify-content: space-between;

  input[type="datetime-local"] {
    color: var(--md-text-color);
    background-color: var(--md-default-bg-color--dark);
    border-radius: 5px;
    padding: 0;
    text-align: center;
  }
}

.abex.resource > img {
  margin-right: 20px;
}

.abex.input {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .md-button {
    border-radius: 10px;
    padding: 0;
    box-shadow:
      0px 0px 5px 1px #00d9ffaf,
      inset 0px 0px 5px 3px #6200ff5e;
  }
}


.team-set-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 1rem;

  &-number {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: var(--md-default-bg-color--ultra-dark);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
  }
}

#dps-table {
  td,
  th {
    text-align: center;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

// new style
#team-set {
  position: relative;

  label {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  > label {
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100px;
    max-width: 300px;

    &::after {
      margin-right: 10px !important;
      content: "     ";
    }
  }

  img {
    margin-left: 0;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }

  input[type="number"] {
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: var(--md-default-fg-color);
    line-height: 2;
    background-color: var(--md-default-bg-color);
    border: 1px solid rgba(114, 114, 114, 0.4470588235);
    border-radius: 10px;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .team-set-nav {
    position: relative;
    bottom: 44px;
    left: 50px;
    height: 33px;
  }

  .team-set-button {
    position: relative;
    width: 20px;
    color: var(--md-text-color);
    font-size: 13px;
    line-height: 1.7;
    text-align: center;
    border-left: 1px solid #eeeeee;
    transform: translateX(-100%);
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;

    &.team-set-up {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 20px;
      border-bottom: 1px solid #eeeeee;
    }

    &.team-set-down {
      position: absolute;
      bottom: -10px;
      left: 5px;
      height: 60%;
    }
  }
}

///attacks

.attack-inputs {
  @supports (mix-blend-mode: darken) {
    position: relative;
    mix-blend-mode: normal;
    margin-top: 1rem;
    &__label {
      background: #000000;
      margin-bottom: 0.5em;
      padding: 0 0.5em;
      border-radius: 5px;
      color: rgba(255, 220, 255, 0.6);
      font-size: 0.875em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      margin: 1px;
    }
  }

  &__input {
    color: var(--md-default-fg-color);
    font-size: 0.95rem;
    background-color: var(--md-default-bg-color) !important;
    background-image: linear-gradient(#000000, #000000), linear-gradient(120deg, #ff0099 0%, #00ffff 50%, #99ff00 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 0.25em solid transparent;
    border-style: groove;
    border-radius: 0.6em;
    margin: 1px;
    transition: background-position 0.8s ease-out;
    text-align: center;
  }
}

.pet-sele,
.hero-selection {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="ch-"] {
    display: none;
  }

  label {
    position: relative;
    display: block;
    margin: 2x;
    padding: 2px;
    border: 0 solid #7368684c;
    cursor: pointer;

    img {
      width: auto;
      height: 50px !important;
      transform-origin: 70% 70% !important;
      transition-duration: 0.2s !important;
      border-radius: 1rem;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 25px;
      height: 25px;
      color: white;
      line-height: 28px;
      text-align: center;
      background-color: white;
      border: 1px solid grey;
      border-radius: 50%;
      transform: scale(0);
      transition-duration: 0.4s;
      content: " ";
    }
    & :checked {
      border-color: #dddddd;
    }

    img ~ :checked {
      box-shadow: 0 0 5px #333333;
      transform: scale(0.9);
    }
  }

  label:has(:checked) {
    &:before {
      z-index: 100;
      background-color: rgba(1, 170, 63, 0.751);
      transform: scale(1.5);
      content: "✓";
    }
  }
}

.user-bag,
.blessed-core {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  input[type="number"] {
    background-color: var(--md-default-bg-color--darker);
    border: 0.1px solid var(--md-code-bg-color);
  }
  .inventory.relic input {
    border-radius: 5px;
    text-align: center;

    &[type="datetime-local"] {
      width: 6rem;
    }
    &[type="number"] {
      width: 60px;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: button;
        height: 50px;
        padding-left: 1px;
        background-color: var(--md-accent-fg-ass);
      }
    }
  }

  .core-virtue {
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow:
      1px 1px 2px rgb(179, 0, 255),
      0 2px 1em rgb(0, 217, 255),
      0 0 0.2em rgb(98, 0, 255);
    border: 2px outset #3030347d;
    border-radius: 10px;
    stroke: #00ffff;
    -webkit-text-stroke: #00ffff;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #24394773;

    img {
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }

    &__label {
      width: 100px;
    }

    > span {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      max-width: 40px;
    }

    .relic,
    .goal {
      display: inline-flex;
      flex-wrap: wrap;
      max-width: 104px;
      cursor: pointer;

      img {
        margin: 4px 0;
      }
    }
    .goal {
      background-color: rgba(7, 8, 20, 0.884);
      background-size: 130%;
      border-radius: 10px;
      box-shadow:
        inset 1px 0px 20px 4px #e9b415,
        -1px -1px 1em 5px #00b8ffd1;
    }
  }
}

.ui-input {
  border-radius: 10px;
  background: #0000005c;
  padding: 10px;
  width: 10rem;
  display: flex;
  flex-direction: column;

  > * {
    display: inline-flex;
    max-height: 40px;
    justify-content: space-around;
  }

  input[type="number"],
  code {
    width: 4.5rem;
    color: var(--md-default-bg-color);
    border-radius: 5px;
    padding: 0;
    text-align: center;
  }

  > .abex {
    > img {
      margin-left: auto;
    }
  }
  &__label {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}

.ui-output {
  output {
    display: flex;
    min-width: 250px;

    .table-text {
      display: inline-block;
      font-size: 0.7rem;
      width: 2.4rem;
      vertical-align: top;
      text-align: center;
      -webkit-text-stroke: thin #bbff00;
      background-color: #12111166;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

.user-bag > span {
  margin: 1px;
  display: inline-flex;

  img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  input:not(input[value="0"]) {
    box-shadow: inset var(--md-accent-fg-color) -10px 0px 20px 0px;
  }
}
