#main-event {
  display: block;
  padding: 10px;
  background-color: rgba(90, 90, 220, 0.328);
  border-radius: 10px;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
  0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
}

#abex-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

button.btn {
  border: 1px outset blueviolet;
  border-radius: 5px;
  color: #f800ff;
  margin: 5px;
  display: inline-block;
  font-family: "Twilio Sans Mono", sans-serif;
  font-size: 30px;
  cursor: pointer;
  -webkit-text-stroke: #2c00ff thin;
}

.ui-input > label {
  > img {
    width: 32px;
  }
}

.number-container {
  display: flex;
  justify-content: center;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.labeled-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 11px;
}

.labeled-container > input[type*="number"] {
  width: 50px;
  height: 25px;
  margin: 10px;
  color: black;
  text-align: end;
  background-color: aliceblue;
  border-radius: 10px;
}

.labeled-container > input[type*="checkbox"] {
  margin: 15px;
  background-color: aliceblue;
}

.outbox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  width: max-content;
}

#rem-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-e-label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background-color: blueviolet;
  border: 0.5px outset orange;
  border-radius: 10px;
  box-shadow: 1px 1px 2px red, 0 0.5px 1em blue,
  0.5px 0.5px 0.5px 0.5px rgb(0, 238, 255);
}

#attack-app {
  display: block;
}

.member {
  margin-left: 10px;
  padding: 2px 5px 0;
  background-color: gray;
  border-radius: 10px;
}

.team-set-inputs {
  display: inline-block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// new style
#team-set {
  position: relative;

  label {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  > label {
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100px;
    max-width: 300px;

    &::after {
      margin-right: 10px !important;
      content: "     ";
    }
  }

  img {
    width: 30px;
    height: auto;
    margin-left: 0;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }

  input[type="number"] {
    width: 100px;
    height: 40px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 7px;
    color: var(--md-default-fg-color);
    line-height: 2;
    background-color: var(--md-default-bg-color);
    border: 1px solid rgba(114, 114, 114, 0.4470588235);
    border-radius: 10px;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-appearance: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .team-set-nav {
    position: relative;
    bottom: 44px;
    left: 50px;
    height: 33px;
  }

  .team-set-button {
    position: relative;
    width: 20px;
    color: var(--text);
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    text-align: center;
    border-left: 1px solid #eeeeee;
    transform: translateX(-100%);
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;

    &.team-set-up {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 20px;
      border-bottom: 1px solid #eeeeee;
    }

    &.team-set-down {
      position: absolute;
      bottom: -10px;
      left: 5px;
      height: 60%;
    }
  }
}

///attacks

.attack-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6vh;
  padding: 2em;
  background-position: 50% 50%;
}

.attack-inputs {
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @supports (mix-blend-mode: darken) {
    position: relative;
    mix-blend-mode: normal;

    &__label {
      position: absolute;
      top: -0.28em;
      left: 3em;
      background: #000000;
    }
  }

  &__label {
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    color: #ccccdd;
    color: rgba(255, 220, 255, 0.6);
    font-size: 0.875em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__input {
    width: 80%;
    height: calc(1em + 0.6em + 0.5em);
    margin: 5px;
    padding: 0.8em 1em;
    color: var(--md-default-fg-color);
    font-size: 1.25rem;
    line-height: 1;
    background-color: var(--md-default-bg-color) !important;
    background-image: linear-gradient(#000000, #000000),
    linear-gradient(120deg, #ff0099 0%, #00ffff 50%, #99ff00 100%);
    background-size: 200% 100%;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 0.25em solid transparent;
    border-style: groove;
    border-radius: 1.8em;
    outline: none;
    transition: background-position 0.8s ease-out;
  }
}

.pet-sele,
.hero-selection {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="ch-"] {
    display: none;
  }

  label {
    position: relative;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 0 solid #7368684c;
    cursor: pointer;

    img {
      width: 50px !important;
      height: 50px !important;
      transform-origin: 70% 70% !important;
      transition-duration: 0.2s !important;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 25px;
      height: 25px;
      color: white;
      line-height: 28px;
      text-align: center;
      background-color: white;
      border: 1px solid grey;
      border-radius: 50%;
      transform: scale(0);
      transition-duration: 0.4s;
      content: " ";
    }
  }

  :checked + label {
    border-color: #dddddd;
  }

  :checked + label:before {
    z-index: 100;
    background-color: rgba(1, 170, 63, 0.751);
    transform: scale(1.5);
    content: "✓";
  }

  :checked + label img {
    box-shadow: 0 0 5px #333333;
    transform: scale(0.9);
  }
}

#comm__label,
#dps__label {
  max-width: 250px;
  margin: 5px;
}

#team-attacks-form {
  width: 100%;
}

.user-bag,
#relic-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  input[type="number"],
  code {
    max-width: 5em;
    color: var(--md-default-bg-color);
    background-color: var(--md-default-fg-color);
    border-radius: 5px;
    margin-left: 10px;
  }

  .ui-input,
  .relic-type {
    display: flex;
    justify-content: space-evenly;
    width: 20em;
    margin: 5px;
    font-size: larger;
    font-family: "Twilio Sans Mono";
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(179, 0, 255), 0 2px 1em rgb(0, 217, 255),
    0 0 0.2em rgb(98, 0, 255);
    /* background-color: var(--md-default-bg-color); */
    background-color: #3d2e4b48;
    border: 2px outset #3030347d;
    border-radius: 10px;
    stroke: #00ffff;
    -webkit-text-stroke: #00ffff;


    img {
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }

    > span {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      max-width: 40px;
    }

    .relic {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 105px;
      margin: 2px;
      cursor: pointer;
    }
  }

  .relic-type {
    padding: 30px 0;
  }

  .ui-input {
    display: flex;
    flex-direction: column;

    label {
      display: inline-flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }

  .relic img {
    margin: 6px 0;
  }

  .goal {
    background-color: #0015ff49;
    background-size: 150%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px red, 0 0.5px 1em blue;
  }

  output {
    display: flex;
    min-width: 250px;
  }
}

.user-bag > span {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 5em;
  margin: 1px;

  img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }
}

.relinf {
  position: absolute;
  bottom: 70px;
  left: 40px;
  background-color: darkcyan;
  padding: 10px;
  border-radius: 10px;
}