@use "sass:color";

$themes: (dracula, slate, default);

$new-admonitions: (
  settings config: $drac-pink $clr-purple-a700 var(--md-admonition-icon--settings),
  new: $drac-yellow $clr-yellow-a700 var(--md-admonition-icon--new),
  sh-luv: $drac-dark-red $clr-red-a200 var(--md-admonition-icon--sh-luv)
) !default;

$old-admonitions: (
  note: $drac-dark-yellow,
  abstract: $drac-cyan,
  info: $drac-light-blue,
  tip: $drac-teal,
  success: $drac-green,
  question: $drac-light-green,
  warning: $drac-orange,
  failure: $drac-dark-red,
  danger: $drac-red,
  bug: $drac-dark-pink,
  example: $drac-purple,
  quote: $drac-grey
) !default;

/* Style new admonitions with dark or light colors */
:root > * {
  // --md-admonition-bg-color: transparent;
  
  @each $names, $prop in $new-admonitions {
    $tint: nth($prop, 1);
    $tint2: nth($prop, 2);
    $name: nth($names, 1);

    /* --md-admonition-icon--#{$name}: svg-load("#{nth($prop, 3)}"); */
    // --md-admonition-bg-color--#{$name}: #{color.adjust($tint2, $alpha: -0.9)};

    --md-admonition-bg-color--#{$name}: var(--md-default-bg-color--ultra-dark);
    --md-admonition-icon-color--#{$name}: #{$tint2};
    --md-admonition-shadow-color--#{$name}: #{color.adjust($tint2, $alpha: -0.9)};
    
    // &[data-md-color-scheme="dracula"] {
    //   --md-admonition-bg-color--#{$name}: var(--md-default-bg-color--ultra-dark);
    //   --md-admonition-icon-color--#{$name}: #{$tint};
    //   --md-admonition-shadow-color--#{$name}: #{color.adjust($tint, $alpha: -0.9)};
    // }
  }

  @each $names, $tint in $old-admonitions {
    $name: nth($names, 1);
    --md-admonition-bg-color--#{$name}: var(--md-default-bg-color--ultra-dark);
    --md-admonition-icon-color--#{$name}: #{$tint};
    --md-admonition-shadow-color--#{$name}: #{color.adjust($tint, $alpha: -0.9)};
  }

  &[data-md-color-scheme="dracula"] {
    --md-admonition-icon-color: #{$drac-dark-yellow};
  }

}

/* Dark mode changes */
[data-md-color-scheme="dracula"] .md-typeset .admonition {
  border-color: var(--md-admonition-icon-color);
  > .admonition-title {
    background-color: var(--md-admonition-bg-color);
    &::before {
      background-color: var(--md-admonition-icon-color);
    }
    &::after {
      color: var(--md-admonition-icon-color);
    }
  }

  box-shadow: var(--md-shadow-z2);
}

/* Style existing admonitions with dark mode colors */
[data-md-color-scheme="dracula"] {
  @each $names, $prop in $old-admonitions {
    $name: nth($names, 1);

    // Define base class
    .md-typeset .admonition.#{$name} {
      border-color: var(--md-admonition-icon-color--#{$name});

      // Define base class
      > .admonition-title {
        background-color: var(--md-admonition-bg-color--#{$name});
        border-color: var(--md-admonition-icon-color--#{$name});

        // Icon
        &::before {
          background-color: var(--md-admonition-icon-color--#{$name});
        }
        &::after {
          color: var(--md-admonition-icon-color--#{$name});
        }
      }
    }

    // Define synonyms for base class
    @if length($names) > 1 {
      @for $n from 2 through length($names) {
        .#{nth($names, $n)} {
          @extend .#{$name};
        }
      }
    }
  }
}

[data-md-color-scheme="default"] {
  @each $names, $prop in $old-admonitions {
    $name: nth($names, 1);

    // Define base class
    .md-typeset .admonition.#{$name} {
      border-color: var(--md-admonition-icon-color--#{$name});

      // Define base class
      > .admonition-title {
        background-color: var(--md-admonition-bg-color--#{$name});
        border-color: var(--md-admonition-icon-color--#{$name});

        // Icon
        &::before {
          background-color: var(--md-admonition-icon-color--#{$name});
        }
        &::after {
          color: var(--md-admonition-icon-color--#{$name});
        }
      }
    }
  }
}

[data-md-color-scheme="slate"] {
  @each $names, $prop in $old-admonitions {
    $name: nth($names, 1);

    // Define base class
    .md-typeset .admonition.#{$name} {
      border-color: var(--md-admonition-icon-color--#{$name});

      // Define base class
      > .admonition-title {
        background-color: var(--md-admonition-bg-color--#{$name});
        border-color: var(--md-admonition-icon-color--#{$name});

        // Icon
        &::before {
          background-color: var(--md-admonition-icon-color--#{$name});
        }
        &::after {
          color: var(--md-admonition-icon-color--#{$name});
        }
      }
    }
  }
}

@each $names, $prop in $new-admonitions {
  $name: nth($names, 1);

  // Define base class
  .md-typeset .admonition.#{$name} {
    border-color: var(--md-admonition-icon-color--#{$name});

    > .admonition-title {
      background-color: var(--md-admonition-bg-color--#{$name});
      border-color: var(--md-admonition-icon-color--#{$name});

      // Icon
      &::before {
        width: px2rem(20px);
        height: px2rem(20px);
        background-color: var(--md-admonition-icon-color--#{$name});
        background-size: px2rem(20px);
        mask-image: var(--md-admonition-icon--#{$name});
        -webkit-mask-image: var(--md-admonition-icon--#{$name});
        content: "\a0";
      }
      &::after {
        color: var(--md-admonition-icon-color--#{$name});
      }
    }
  }

  // Define synonyms for base class
  @if length($names) > 1 {
    @for $n from 2 through length($names) {
      .#{nth($names, $n)} {
        @extend .#{$name};
      }
    }
  }
}

@media screen and (min-width: 45em) {
  .md-typeset .inline {
    width: fit-content;
    max-width: 20.7rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}

.quote > p.admonition-title {
  align-items: center;
  padding: 10px;
}

.quote > p.admonition-title > a {
  margin-right: 15px;
}

// li > a > img {
//   border-radius: 0;
// }

.md-typeset .admonition-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.md-typeset details,
.md-typeset .admonition {
  border-radius: 0.3rem;
  overflow: hidden;
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset .sh-luv > .admonition-title::before,
.md-typeset .sh-luv > summary::before {
  animation: heart 1000ms infinite;
}

.md-typeset .settings > .admonition-title::before,
.md-typeset .settings > summary::before {
  animation: spin 4s linear infinite;
}

@keyframes heart {
  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }
  20%,
  60% {
    transform: scale(1.15);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.heart {
  color: crimson;
  animation: heart 1000ms infinite;
}
