.ava {
  width: 32px;
  box-shadow: 1px 1px 5px 1px cyan, -1px -1px 5px 1px lime;
}

.resized {
  margin-right: auto;
  margin-left: auto;
  border-radius: 0;
}

article hr {
  border-top: 0.1rem ridge var(--md-accent-fg-color);
  border-radius: 3rem;
}

@media screen and (max-width: 76.234375em) {
  .md-sidebar.md-sidebar--post .md-nav__list {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md-post__authors {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .md-sidebar.md-sidebar--post .md-sidebar__scrollwrap {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.post-excerpt-image.crop-excerpt {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, #000, transparent);
}

.memas {
  overflow: hidden;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 6px rgba(40, 192, 211, 0.38);
}
