.ava {
  width: 32px;
  box-shadow:
    1px 1px 5px 1px cyan,
    -1px -1px 5px 1px lime;
}

.resized {
  // width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0;
}

article hr {
  border: 0.3rem dotted var(--md-accent-fg-color);
}
