.md-typeset .collapse-code {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.md-typeset .collapse-code pre {
  margin-top: 0;
  margin-bottom: 0;
}

.md-typeset .collapse-code input {
  display: none;
}

.md-typeset .collapse-code input ~ .code-footer {
  width: 100%;
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0;
}

.md-typeset .collapse-code input ~ .code-footer label {
  position: relative;
  margin: 0.05em;
  padding: 0.15em 0.8em;
  color: var(--md-primary-bg-color);
  font-size: 90%;
  background-color: var(--md-primary-fg-color);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  border-radius: 0.1rem;
  cursor: pointer;
  content: "";
}

.md-typeset .collapse-code input ~ .code-footer label:hover {
  background-color: var(--md-accent-fg-color);
}

.md-typeset .collapse-code input ~ .code-footer label::before {
  position: absolute;
  top: 0.15em;
  left: 0.15em;
  display: block;
  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  background-color: var(--md-primary-bg-color);
  background-size: 1.25em;
  content: "";
}

.md-typeset .collapse-code input ~ .code-footer label.expand {
  display: none;
}

.md-typeset .collapse-code input ~ .code-footer label.expand::before {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 21v-2H6.41l4.5-4.5-1.41-1.41-4.5 4.5V14H3v7h7m4.5-10.09 4.5-4.5V10h2V3h-7v2h3.59l-4.5 4.5 1.41 1.41Z"/></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 21v-2H6.41l4.5-4.5-1.41-1.41-4.5 4.5V14H3v7h7m4.5-10.09 4.5-4.5V10h2V3h-7v2h3.59l-4.5 4.5 1.41 1.41Z"/></svg>');
}

.md-typeset .collapse-code input ~ .code-footer label.collapse::before {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.5 3.09 15 7.59V4h-2v7h7V9h-3.59l4.5-4.5-1.41-1.41M4 13v2h3.59l-4.5 4.5 1.41 1.41 4.5-4.5V20h2v-7H4Z"/></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.5 3.09 15 7.59V4h-2v7h7V9h-3.59l4.5-4.5-1.41-1.41M4 13v2h3.59l-4.5 4.5 1.41 1.41 4.5-4.5V20h2v-7H4Z"/></svg>');
}

.md-typeset .collapse-code input:checked ~ .code-footer label.expand {
  display: inline;
}

.md-typeset .collapse-code input:checked ~ .code-footer label.collapse {
  display: none;
}

.md-typeset .collapse-code input:checked + div.highlight code {
  max-height: 9.375em;
  overflow: hidden;
}

.md-typeset .collapse-code input:checked ~ .code-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em 0.5em 0.5em 0.8rem;
  background-image: linear-gradient(to bottom, transparent, var(--md-default-bg-color) 80% 100%);
}

@media screen and (max-width: 44.9375em) {
  .md-typeset > diagram-div {
    margin-right: -0.8rem;
    margin-left: -0.8rem;
  }

  .md-typeset > .collapse-code {
    margin-right: -0.8rem;
    margin-left: -0.8rem;
  }

  .md-typeset > .collapse-code label.collapse {
    left: 0.8rem;
  }

  [dir="ltr"] .md-content__inner > .tabbed-set .tabbed-labels {
    padding-left: 0;
  }

  .md-content__inner > .tabbed-set .tabbed-labels {
    max-width: 100%;
    margin: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    scroll-padding-inline-start: 0;
  }

  .md-content__inner > .tabbed-set .tabbed-labels::after {
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    content: none;
  }

  .md-content__inner > .tabbed-set .tabbed-labels ~ .tabbed-control--prev {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }

  .md-content__inner > .tabbed-set .tabbed-labels ~ .tabbed-control--next {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }
}

.md-typeset .admonition.config,
.md-typeset .admonition.settings,
.md-typeset details.config,
.md-typeset details.settings {
  border-color: var(--md-admonition-icon-color--settings);
}

.md-typeset .admonition.config > .admonition-title,
.md-typeset .admonition.settings > .admonition-title,
.md-typeset details.config > .admonition-title,
.md-typeset details.config > summary,
.md-typeset details.settings > .admonition-title,
.md-typeset details.settings > summary {
  background-color: var(--md-admonition-bg-color--settings);
  border-color: var(--md-admonition-icon-color--settings);
}

.md-typeset .admonition.config > .admonition-title::before,
.md-typeset .admonition.settings > .admonition-title::before,
.md-typeset details.config > .admonition-title::before,
.md-typeset details.config > summary::before,
.md-typeset details.settings > .admonition-title::before,
.md-typeset details.settings > summary::before {
  width: 1rem;
  height: 1rem;
  background-color: var(--md-admonition-icon-color--settings);
  background-size: 1rem;
  -webkit-mask-image: var(--md-admonition-icon--settings);
  mask-image: var(--md-admonition-icon--settings);
  content: " ";
}

.md-typeset .admonition.config > .admonition-title::after,
.md-typeset .admonition.settings > .admonition-title::after,
.md-typeset details.config > .admonition-title::after,
.md-typeset details.config > summary::after,
.md-typeset details.settings > .admonition-title::after,
.md-typeset details.settings > summary::after {
  color: var(--md-admonition-icon-color--settings);
}

.md-typeset .admonition.new,
.md-typeset details.new {
  border-color: var(--md-admonition-icon-color--new);
}

.md-typeset .admonition.new > .admonition-title,
.md-typeset details.new > .admonition-title,
.md-typeset details.new > summary {
  background-color: var(--md-admonition-bg-color--new);
  border-color: var(--md-admonition-icon-color--new);
}

.md-typeset .admonition.new > .admonition-title::before,
.md-typeset details.new > .admonition-title::before,
.md-typeset details.new > summary::before {
  width: 1rem;
  height: 1rem;
  background-color: var(--md-admonition-icon-color--new);
  background-size: 1rem;
  -webkit-mask-image: var(--md-admonition-icon--new);
  mask-image: var(--md-admonition-icon--new);
  content: " ";
}

.md-typeset .admonition.new > .admonition-title::after,
.md-typeset details.new > .admonition-title::after,
.md-typeset details.new > summary::after {
  color: var(--md-admonition-icon-color--new);
}
