.discord {
  color: #737bef !important;
  animation: move 2s infinite;
}

.reddit {
  color: #ec6433 !important;
}

.twemoji {
  margin-right: 10px;
  margin-left: 10px;
  scale: 1.5;
}

@keyframes discord {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  25% {
    transform: rotate(-90deg) scale(0.95);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg) scale(0.98);
  }

  100% {
    transform: rotate(-360deg);
  }
}
