[data-md-component="announce"] .twemoji {
  color: var(--md-primary-fg-color);
}


.discord {
  color: #737bef !important;
  animation: move 2s infinite;
}
.heart,
.youtube {
  color: #EE0F0F;
}

.reddit {
  color: #ec6433 !important;
}

.twemoji {
  margin-right: 10px;
  margin-left: 10px;
  // scale: 1.5;
}

@keyframes discord {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes move {
  25% {
    transform: rotate(-90deg) scale(0.95);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg) scale(0.98);
  }
  100% {
    transform: rotate(-360deg);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes new {
  0%, 100% {
    transform: scale(1) rotate(0deg);
}

50% {
    transform: scale(1.15) rotate(10deg);
}
}

.mdx-pulse {
  animation: new 2s infinite;
}

.twemoji {
  &.heart-throb,
  &.heart-throb-hover {
    svg {
      position: relative;
      color: var(--md-heart);
      animation: pulse 1.5s ease infinite;
    }
  }
}
