@mixin box-sizing {
  box-sizing: border-box;
}

@mixin border-rad {
  border-radius: 10px;
}
$option: invert(var(--select-font-color), $weight: 100%);

body {
  background: var(--slate-gradient) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

blockquote,
blockquote:before {
  border-color: var(--rnb);
  border-left: 5px ridge !important;
  border-radius: 10px;
}

.md-typeset #a-form h4 {
  margin: 1px;
}

/* <select> styles */
select {
  width: 8em;
  height: 2em;
  margin: 10px;
  padding: 5px;
  color: var(--select-font-color);
  font: inherit;
  text-align: center;
  background: url("../assets/svg/Caret_down_font_awesome_whitevariation.svg")
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 2em, $glass 3em);
  border: 0;
  border-radius: 0.25em;
  outline: 0;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  appearance: none;
  option {
    color: inherit;
    background-color: $option;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}

#dust-calc,
#dust-input * {
  @include box-sizing();
  @include border-rad();
}

#dust-calc {
  padding: 15px;
  background-color: rgba(13, 14, 15, 0.46);
}

#dust-input {
  display: block;
  * {
    margin: 5px;
  }

  img {
    border-radius: 0 !important;
  }

  p {
    display: inline-flex;
    align-items: center;
  }

  input[type="number"] {
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: $dark-tabs-bg;
    border: 2px inset cornflowerblue;
  }

  input::-webkit-inner-spin-button {
    position: relative;
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: 2.5em;
    cursor: default;
    appearance: auto;
    user-select: auto;
  }

  output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: hsl(0, 0%, 0%);
    text-align: center;
    background: #bada55;
  }

  fieldset {
    display: flex;
    align-items: flex-end;
  }
}

@import "../palette/colors";

#a-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  max-height: fit-content;
  margin: 5px;
  background-color: var(--containers-bg);
  border: 1px solid var(--input-bd-color);
  border-radius: 10px;
}

#result {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-evenly;
  margin: 5px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: var(--containers-bg);
  border: 2px solid blueviolet;
  border-radius: 10px;
}

#result:before {
  position: sticky;
  right: 90%;
  margin: 0;
  padding: 5px;
  color: orange;
  font-weight: 900;
  background: linear-gradient(190deg, #700bad, #200bad);
  border: 1px solid #500bad;
  border-bottom-right-radius: 10px;
  content: "Total Income";
}

@media (max-width: 900px) {
  #a-form {
    display: inline-flex;
    width: 200px;
    max-height: unset;
  }

  #app {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  output.result {
    display: inline-flex;
    flex-direction: row;
  }
}

#result > div {
  padding: 2px 10px;
}

.select-container,
.inc-res {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}

span > img {
  display: block;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.select-container > h4 {
  margin: 0;
}
