output > div {
  width: -webkit-fill-available;
}

#rangeValue {
  position: relative;
  display: block;
  color: var(--text);
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

.range {
  width: -webkit-fill-available;
  height: $slider-radius;
  margin-left: 5px;
  overflow: hidden;
  background: #111;
  border-radius: 15px;
  outline: none;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 100%);
  appearance: none;
}

.range::-webkit-slider-thumb {
  width: $slider-radius + 2;
  height: $slider-radius + 2;
  background: #700bad;
  border: 4px solid #333;
  border-radius: 50%;
  box-shadow: -507px 0 0 500px #bada55;
  cursor: pointer;
  appearance: none;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: -webkit-fill-available;
  background: linear-gradient(to right, #1488ad, #3ade10);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (width <= 800px) {
  datalist {
    display: none;
  }
}

option {
  padding: 0;
}

input[type="range"] {
  width: fill-available;
  margin: 0;
}
