/* Dark mode changes */
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"],
[data-md-color-scheme="dracula"] {
  .md-typeset table:not([class]) {
    display: table;
    overflow: hidden !important;
    border-radius: 7px;
    box-shadow: var(--md-shadow-z7);

    tr:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }

    th {
      color: var(--md-text-color);
      background-color: var(--md-default-bg-color--ultra-dark);
      border-bottom: px2rem(1px) solid var(--md-primary-fg-color);
    }

    td {
      background-color: var(--md-default-fg-color--lightest);
      border-top: px2rem(1px) solid var(--md-default-fg-color--lighter);
    }

    tr:nth-child(even) {
      background-color: var(--md-accent-fg-color--transparent);
    }

    sup {
      color: #bada55 !important;
      font-size: 10px;
    }
  }
  .md-typeset__table {
    display: table !important;
    width: 100% !important;
  }

  .meta-table {
    th {
      border-bottom: px2rem(1px) solid var(--md-primary-fg-color);
    }

    td {
      border-top: px2rem(1px) solid var(--md-default-fg-color--lighter);
    }
    th,
    td {
      padding-right: 4px;
      padding-left: 4px;
      border-left: px2rem(1px) solid var(--md-default-autocomplete-fg-color);
    }
  }
  tbody td[colspan="4"] {
    color: #ff00ff;
    border-top: 1px dashed #ff00ff !important;
    font-weight: 600;
  }
}

// noT sure
html .md-typeset__table table {
  margin: 10px;
}
