.md-typeset {
  h1 {
    text-shadow: 1px 1px 2px var(--md-accent-fg-color);
    text-transform: uppercase;
  }
  h1::before,
  h1::after {
    content: "";
    border-top: 0.1em double black;
    align-self: center;
  }
  h2 {
    padding-left: 0.1rem;
  }
  h3 {
    padding-left: 0.7rem;
  }
  h4 {
    padding-left: 1.3rem;
  }

  a.source-link {
    position: relative;
    top: px2rem(-12px);
    float: right;
    color: var(--md-default-fg-color--lighter);
    transition: color 125ms;

    &:hover {
      color: var(--md-accent-fg-color);
    }

    .twemoji {
      height: px2rem(24px);

      svg {
        width: px2rem(24px);
        height: px2rem(24px);
      }
    }
  }


  div.highlight.md-max-height pre > code {
    max-height: px2rem(300px);
  }
}

footer.sponsorship {
  text-align: center;

  hr {
    display: inline-block;
    width: px2rem(32px);
    margin: 0 px2rem(14px);
    vertical-align: middle;
    border-bottom: 2px solid var(--md-default-fg-color--lighter);
  }
  &:hover {
    hr {
      border-color: var(--md-accent-fg-color);
    }
  }

  &:not(:hover) {
    .twemoji.heart-throb-hover svg {
      color: var(--md-default-fg-color--lighter) !important;
    }
  }
}

// Scheme toggle
body {
  &:not([data-md-prefers-color-scheme="true"])[data-md-color-scheme="dracula"]
    .md-icon {
    .light-mode,
    .system-mode,
    .unknown-mode {
      display: none;
    }
  }

  &:not([data-md-prefers-color-scheme="true"])[data-md-color-scheme="default"]
    .md-icon {
    .dark-mode,
    .system-mode,
    .unknown-mode {
      display: none;
    }
  }

  &:not([data-md-prefers-color-scheme="true"]):not(
      [data-md-color-scheme="default"]
    ):not([data-md-color-scheme="dracula"])
    .md-icon {
    .dark-mode,
    .light-mode,
    .system-mode {
      display: none;
    }
  }

  &[data-md-prefers-color-scheme="true"] .md-icon {
    .dark-mode,
    .light-mode,
    .unknown-mode {
      display: none;
    }
  }
}

.md-header-nav__scheme {
  z-index: 0;
}

@include break-to-device(tablet portrait) {
  .md-header-nav__scheme {
    padding-right: 0;
  }

  label[for="__search"] {
    padding-left: 0;
  }
}

[data-md-toggle="search"]:checked ~ .md-header .md-header-nav__scheme {
  display: none;
}

/* custom scss */

blockquote,
blockquote:before {
  border-left: 5px groove !important;
  border-radius: 10px;
}
