@charset "UTF-8";

@mixin box-sizing {
  box-sizing: border-box;
}

::selection {
  color: hsl(230, 30%, 15%);
  background-color: hsla(310, 88%, 56%, 0.884);
  -webkit-text-fill-color: hsl(230, 30%, 15%);
}

.md-typeset code:not(.focus-visible) {
  outline: 0.01rem solid var(--md-accent-fg-color--lighter);
  -webkit-tap-highlight-color: transparent;
}

.md-main {
  background: var(--md-default-bg-color);
}

.md-tabs {
  display: flex;
  overflow-x: clip;
  color: var(--md-accent-fg-color--lighter);
  background-color: var(--md-default-bg-color--dark);
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 2.5;
}

.md-tabs__link {
  margin-top: 0.3rem;
  font-weight: 500 !important;
  letter-spacing: 0.5px !important;
}

.mdx-container {
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.md-header__option:before {
  margin: auto;
  font-weight: 900;
  font-size: 14px;
  white-space: pre;
}

.glightbox,
.glightbox img {
  -webkit-user-drag: none;
  user-select: none;
  border-radius: 10px;
}

.mdx-hero__content {
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
}
.md-tooltip {
  background-color: var(--md-default-bg-color--dark);
}
.md-clipboard {
  color: var(--md-default-fg-color);
}
.md-sidebar__inner {
  height: -webkit-fill-available;
  border-radius: 10px;
}

.md-nav--primary .md-nav__title,
.md-nav--secondary .md-nav__title,
.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: transparent;
  box-shadow: none !important;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary {
    .md-nav__title {
      color: var(--md-text-color);
      background-color: var(--md-default-bg-color--dark);
      border-bottom: 0.1rem solid var(--md-primary-fg-color);
    }
    .md-nav__title ~ .md-nav__list {
      background-color: var(--md-default-bg-color--dark);
    }
  }
}
@media screen and (min-width: 60em) {
  .md-nav--secondary .md-nav__title {
    background: none;
  }
}

.md-header {
  color: var(--md-header-text);
  background-color: var(--md-header-bg-color);
  border-bottom: 0.15rem solid var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-header__option:before {
  content: "Freeman";
}

[data-md-color-scheme="default"] .md-header__option:before {
  content: "Jedi";
}

[data-md-color-scheme="dracula"] .md-header__option:before {
  color: var(--md-accent-fg-color-ass);
  content: "Dracula";
}

.md-header[data-md-state="shadow"] {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15),
    0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.md-top {
  background-color: var(--md-default-bg-color--dark);
}

.md-top:hover {
  background-color: var(--md-primary-fg-color);
}

 .md-tabs__link--active {
  color: var(--md-primary-fg-color);
}

.md-tabs__item--active,
.md-tabs__link:hover {
  color: var(--md-accent-fg-color);
}

.md-hero {
  color: var(--md-text-color);
  background-color: var(--md-primary-fg-color--transparent);
}

.md-nav__source {
  color: var(--md-text-color);
}

.md-nav__link[data-md-state="blur"] {
  color: var(--md-default-fg-color--light);
}

[data-md-color-scheme=slate] .md-nav__item .md-nav__link--active,
[data-md-color-scheme=dracula] .md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color);
}

.md-nav__link:focus,
.md-nav__link:hover {
  color: var(--md-accent-fg-color);
}

.md-search__input {
  color: var(--md-text-color);
  background-color: var(--md-accent-bg-color--light);
}

.md-search__input:hover {
  background-color: var(--md-default-bg-color--light);
}

.md-search__input ~ .md-search__icon {
  color: var(--md-text-color);
}

.md-search__input::-moz-placeholder {
  color: var(--md-default-fg-color--light);
}

.md-search__input::placeholder {
  color: var(--md-default-fg-color--light);
}

.md-search__scrollwrap,
.md-search__form,
.md-consent__inner {
  background-color: var(--md-default-bg-color--ultra-dark);
}

.md-search__suggest {
  color: var(--md-default-autocomplete-fg-color);
}

.md-overlay,
.md-search__overlay {
  background-color: var(--md-default-fg-color--lighter);
}

[data-md-component="announce"] {
  background-color: var(--md-default-bg-color--ultra-dark);
}

.md-footer-nav__direction {
  color: var(--md-primary-fg-color);
}

.md-footer-meta {
  border-top: 0.2rem solid var(--md-primary-fg-color);
}

.md-meta {
  color: var(--md-default-fg-color);
}

.md-meta__link:hover {
  color: var(--md-accent-fg-color-ass);
}

.md-typeset .number-container .md-button {
    padding: 0 3px;
}
