@mixin box-sizing {
  box-sizing: border-box;
}

::selection {
  color: hsl(230, 30%, 15%);
  background-color: hsl(310, 100%, 65%);
  -webkit-text-fill-color: hsl(230, 30%, 15%);
}


.md-typeset code:not(.focus-visible) {
  outline: 1px solid darksalmon;
  -webkit-tap-highlight-color: transparent;
}

.md-tabs {
  display: flex;
  overflow: visible;
  color: var(--md-accent-fg-color);
  background-color: var(--tab-bg);
  -webkit-font-smoothing: subpixel-antialiased;
}
.md-tabs__link {
  margin-top: 0.3rem;
  color: var(--nav-link);
  font-weight: 500 !important;
  font-family: Jura, sans-serif !important;
  letter-spacing: 0.5px !important;
}


.mdx-container {
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.md-header__option:before {
  padding: 10px 0;
  font-weight: 900;
  font-size: 16px;
  font-family: Marvel, "Franklin Gothic Medium", "Arial Narrow", Arial,
  sans-serif;
  white-space: pre;
}

.glightbox,
.glightbox img {
  -webkit-user-drag: none;
  user-select: none;
}

.mdx-hero__content {
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
}

.md-sidebar__inner {
  overflow-y: scroll;
  background: transparent !important;
  border-radius: 10px;
}

.md-nav__title,
.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: transparent !important;
  box-shadow: none !important;
}

.md-tabs__link--active,
.md-tabs__link:focus,
.md-tabs__link:hover {
  color: #00eaff;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary
  .md-nav__item--active
  > .md-nav__link:not(:hover) {
    color: var(--md-primary-fg-color);
  }

  .md-nav--primary .md-nav__title {
    color: var(--md-text-color);
    background-color: var(--md-header-bg-color);
    border-bottom: 0.1rem solid var(--md-primary-fg-color);
  }
}

.md-footer-nav__direction {
  color: var(--md-primary-fg-color);
}

.md-footer-meta {
  border-top: 0.1rem solid var(--md-primary-fg-color);
}


[data-md-color-scheme="slate"] .md-header__option:before {
  content: "Dark \aSide";
}

[data-md-color-scheme="default"] .md-header__option:before {
  content: "Jedi \aSide";
}

[data-md-color-scheme="dracula"] .md-header__option:before {
  content: "Dracula \aSide";
}

.md-header {
  color: var(--md-text-color);
  background-color: var(--md-header-bg-color);
  border-bottom: 2px solid var(--md-primary-fg-color);
}

[data-md-color-scheme="default"] .md-header,
[data-md-color-scheme="slate"] .md-header {
  border-bottom: 2px solid var(--md-accent-fg-color);
}

[data-md-color-scheme="dracula"] .md-header[data-md-state="shadow"] {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15),
  0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.md-typeset .headerlink {
  width: 0em;
  height: 1em;
  vertical-align: middle;
  background-color: var(--md-default-fg-color--lighter);
  background-size: 1em;
  mask-size: 1em;
  mask-size: 1em;
  mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  visibility: visible;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
}

.md-typeset .headerlink:hover,
.md-typeset [id]:target .headerlink {
  background-color: var(--md-accent-fg-color);
}

html .md-typeset__table table {
  margin: 10px;
}
