@mixin box-sizing {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --md-admonition-icon--sh-luv: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
  --md-shadow-z7: 0 0.2rem 0.9rem hsla(0, 0%, 3%, 0.229), 0 0 0 0.1rem #00000016;
}

::selection {
  color: hsl(230, 30%, 15%);
  background-color: hsl(310, 100%, 65%);
  -webkit-text-fill-color: hsl(230, 30%, 15%);
}

.md-typeset .admonition,
.md-typeset details {
  box-shadow: var(--md-shadow-z7);
}

/*
.md-grid {
  // max-width: 100%;
}
*/
.md-typeset code:not(.focus-visible) {
  margin-left: 15%;
  outline: 1px solid darksalmon;
  -webkit-tap-highlight-color: transparent;
}

.md-button {
  padding: 0.2em 0.7em 0 0 !important;
}
.md-banner {
  text-align: center;
}

.md-tabs__link {
  color: var(--nav-link);
  font-weight: 500 !important;
  font-family: Jura, sans-serif !important;
  letter-spacing: 0.5px !important;
  text-rendering: optimizelegibility;
}

.md-tabs {
  display: flex;
  color: var(--md-default-bg);
  background-color: var(--tab-bg);
  -webkit-font-smoothing: subpixel-antialiased;
}

.mdx-container {
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.md-header__option:before {
  padding: 10px 0;
  font-weight: 900;
  font-size: 16px;
  font-family: Marvel, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  white-space: pre;
}

.glightbox,
.glightbox img {
  -webkit-user-drag: none;
  user-select: none;
}

.md-typeset .admonition.sh-luv,
.md-typeset details.sh-luv {
  border-color: rgb(235, 5, 5);
}

.md-typeset .sh-luv > .admonition-title,
.md-typeset .sh-luv > summary {
  background-color: rgba(235, 5, 5, 0.2);
}

.md-typeset .sh-luv > .admonition-title::before,
.md-typeset .sh-luv > summary::before {
  background-color: rgba(235, 5, 5);
  -webkit-mask-image: var(--md-admonition-icon--sh-luv);
  animation: heart 1000ms infinite;
}

.mdx-hero__content {
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
}

.md-sidebar__inner {
  overflow-y: scroll;
  background: var(--md-default-bg) !important;
  border-radius: 10px;
}

.md-nav__list {
  padding: 3px;
}

.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  top: 10px;
}

.md-tabs__link--active,
.md-tabs__link:focus,
.md-tabs__link:hover {
  color: #00eaff;
}

[data-md-color-scheme="slate"] .md-header__option:before {
  content: "Dark \aSide";
}
[data-md-color-scheme="default"] .md-header__option:before {
  content: "Jedi \aSide";
}
[data-md-color-scheme="dracula"] .md-header__option:before {
  content: "Dracula \aSide";
}

.md-typeset .headerlink {
  width: 0em;
  height: 1em;
  vertical-align: middle;
  background-color: var(--md-default-fg-color--lighter);
  background-size: 1em;
  mask-size: 1em;
  mask-size: 1em;
  mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  visibility: visible;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5 5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5 5 5 0 0 0-5-5Z"/></svg>');
}
.md-typeset .headerlink:hover,
.md-typeset [id]:target .headerlink {
  background-color: var(--md-accent-fg-color);
}
