<!-- Add announcement here, including arbitrary HTML -->

<span class="twemoji heart-throb">
  {% set icon = "octicons/heart-fill-16" %}
  {% include ".icons/" ~ icon ~ ".svg" %}
</span>

GL & HF AbEx runners!

<span class="twemoji heart-throb">
  {% include ".icons/octicons/heart-fill-16.svg" %}
</span>