

<!-- Overwrites content.html base mkdocs theme, taken from 
https://github.com/mkdocs/mkdocs/blob/master/mkdocs/themes/mkdocs/content.html -->

{% if page.meta.source %}
  <div class="source-links">
    {% for filename in page.meta.source %}
      <span class="label label-primary">{{ filename }}</span>
    {% endfor %}
  </div>
{% endif %}
{#
  <p>
    <small>Authors: {{ git_page_authors | default("enable mkdocs-git-authors-plugin") }}</small>
  </p>
{% endif %}

#}

{% if git_info %}
  <div class="authors labeled">
    Authors
  </div>
  {%- for author in git_info.get('page_authors') -%}
 
 
    <div>
      <code>
        {{ author.contribution }} <|
        {% if author.name.startswith("Not") %}
          Community
        {% else %}
          {{ author.name }}
        {% endif %}
        {#At: {{ author.last_date }} 🞧
          <a href="{{ author.email }}" title="{{ author.name }}" />,- {{ author.lines }} #}
      </code>
    </div>
  {%- endfor -%}
{% endif %}
