{% from 'templates/macro/avatar.j2' import renderAva with context %}

<!--  front-matter meta:
      page.meta.autor 
      page.meta.updated 
      page.meta.date  -->

{% if git_page_authors %}
<div class="md-source-date">
  <table class="meta-table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Contribution</th>
        <th>created</th>
        <th>updated</th>
      </tr>
    </thead>
    <tbody>
      {% include "templates/section/gauthors.j2" %}
    </tbody>
  </table>
</div>

{% endif %}