{% extends "main.html" %}

{% block styles %}

  {{ super() }}
{% endblock styles %}

{% block tabs %}

  {{ super() }}
{% endblock tabs %}
<!-- Content -->

{% block content %}

  <figure>
    <image src="../assets/logo.jpg">
  </image>
  <figcaption>
    Coming soon!
  </figcaption>
</figure>
{% endblock content %}
