$mos-def-fg: hsl(0, 0%, 0%);
$mos-def-bg: rgb(228, 255, 119);
$mos-def-highlight: hsl(51, 100%, 67%);
$mos-def-selection: #280808;
$mos-def-blue: hsl(225, 27%, 51%);
$mos-def-cyan: hsl(191, 99%, 35%);
$mos-def-green: hsl(135, 94%, 65%);
$mos-def-orange: hsl(31, 100%, 71%);
$mos-def-pink: hsl(326, 100%, 74%);
$mos-def-purple: hsl(265, 89%, 78%);
$mos-def-red: hsl(0, 100%, 67%);
$mos-def-yellow: hsl(65, 100%, 66%);

/* Non-standard Dracula colors */
$mos-def-grey: hsl(225, 8%, 51%);
$mos-def-teal: hsl(161, 97%, 77%);
$mos-def-light-blue: hsl(190, 94%, 87%);
$mos-def-light-green: hsl(135, 92%, 79%);
$mos-def-dark-pink: hsl(325, 100%, 64%);
$mos-def-dark-red: hsl(0, 100%, 59%);
$mos-def-dark-yellow: hsl(51, 94%, 73%);

$mos-def-text: #373737;
$mos-def-default-bg: lighten($mos-def-bg, 18%);
$mos-def-tabs-bg: #2222008d;
$mos-def-sel-text: #280808;
$mos-def-foot-bg: hsl(39, 77%, 83%);
$mos-def-foot-fg: #1d1810;
$mos-def-foot-low: rgb(0, 160, 210);
$mos-def-tabs-fg: $mos-def-text;
$mos-def-nav-link: #ffffffff;
$mos-def-2-bg: #cdcdaf;

$mos-def-admo-bg: linear-gradient(45deg, rgba(119, 101, 20, 0.739), #bf8556b5);
$mos-def-def-bg: linear-gradient(45deg, rgba(222, 222, 222, 0.383), #63636317);
$mos-def-gradient: linear-gradient(
  225deg,
  #ffffffb5,
  rgba(165, 144, 48, 0.621)
);
$mos-def-rnb: linear-gradient(
  180deg,
  #684dba,
  #3aebcb,
  #7beb3a,
  #eba73a,
  #dd58d2
);

:root > * {
  --md-admonition-bg-color: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon--settings: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 15.5A3.5 3.5 0 0 1 8.5 12 3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5 3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97 0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1 0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z"/></svg>');
  --md-admonition-bg-color--settings: rgba(170, 0, 255, 0.1);
  --md-admonition-icon-color--settings: #aa00ff;
  --md-admonition-icon--new: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 12-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12m-10 5h-2v-2h2v2m0-4h-2V7h2v6Z"/></svg>');
  --md-admonition-bg-color--new: rgba(255, 214, 0, 0.1);
  --md-admonition-icon-color--new: #ffd600;
  --md-admonition-bg-color--note: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--note: hsl(51, 94%, 73%);
  --md-admonition-bg-color--abstract: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--abstract: hsl(191, 97%, 77%);
  --md-admonition-bg-color--info: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--info: hsl(190, 94%, 87%);
  --md-admonition-bg-color--tip: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--tip: hsl(161, 97%, 77%);
  --md-admonition-bg-color--success: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--success: hsl(135, 94%, 65%);
  --md-admonition-bg-color--question: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--question: hsl(135, 92%, 79%);
  --md-admonition-bg-color--warning: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--warning: hsl(31, 100%, 71%);
  --md-admonition-bg-color--failure: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--failure: hsl(0, 100%, 59%);
  --md-admonition-bg-color--danger: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--danger: hsl(0, 100%, 67%);
  --md-admonition-bg-color--bug: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--bug: hsl(325, 100%, 64%);
  --md-admonition-bg-color--example: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--example: hsl(265, 89%, 78%);
  --md-admonition-bg-color--quote: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--quote: hsl(225, 8%, 51%);
}
