@use "sass:color";

$label: "Jedi";
$fg: hsla(0, 7%, 28%, 0.603);
$bg: rgb(228 255 119);
$highlight: hsl(51deg 100% 67%);
$selection: #280808;
$blue: hsl(225deg 27% 51%);
$cyan: hsl(191deg 99% 35%);
$green: hsl(135deg 94% 65%);
$orange: hsl(31deg 100% 71%);
$pink: hsl(326deg 100% 74%);
$purple: hsl(265, 89%, 78%);
$red: hsl(0deg 100% 67%);
$yellow: hsl(65deg 100% 66%);

/* joyful color rgb(228, 255, 119) */

/* Non-standard Dracula colors */
$grey: hsl(225deg 8% 51%);
$teal: hsl(161deg 97% 77%);
$light-blue: hsl(190deg 94% 87%);
$light-green: hsl(135deg 92% 79%);
$dark-pink: hsl(325deg 100% 64%);
$dark-red: hsl(0deg 100% 59%);
$dark-yellow: hsl(51deg 94% 73%);
$default-bg: color.adjust($bg, $lightness: 18%);
$clr-red-a200: hsl(326deg 100% 74%);
$clr-red-a400: hsl(0deg 100% 67%);
$clr-green-a200: hsl(135deg 92% 79%);
$clr-green-a400: hsl(135deg 94% 65%);
$clr-yellow-a500: hsl(65deg 92% 76%);
$clr-yellow-a700: yellow;
$clr-orange-a400: hsl(31deg 100% 71%);
$clr-cyan-500: hsl(191deg 97% 77%);
$clr-blue-a400: hsl(225deg 27% 51%);
$clr-purple-a700: hsl(265deg 89% 78%);

$bg-radient: linear-gradient(230deg, rgb(162 160 125 / 27%), rgb(141 117 4 / 81%));

$text: #373737;
$tabs-bg: #2222008d;
$sel-text: rgb(85, 59, 59);
$foot-bg: hsl(39deg 77% 83%);
$foot-fg: #1d1810;
$foot-low: rgb(131 116 0 / 54%);
$tabs-fg: $text;
$nav-link: #cdcdaf;

$admo-bg: linear-gradient(45deg, rgb(119 101 20 / 73.9%), #bf8556b5);
$gradient: linear-gradient(230deg, rgb(162 160 125 / 27%), rgb(141 117 4 / 81%));
$gradient-anti: linear-gradient(45deg, #ffffff6e, rgb(165 144 48 / 39.8%));
$rnb: linear-gradient(180deg, #0ef, #6dff18, #ffb949, #ff00ea);
