
$drac-fg: hsl(60, 30%, 96%);
$drac-bg: hsl(231, 15%, 18%);
$drac-highlight: hsl(66, 94%, 73%);
$drac-selection: hsl(231, 25%, 25%);
$drac-blue: hsl(225, 27%, 51%);
$drac-cyan: hsl(191, 97%, 77%);
$drac-green: hsl(135, 94%, 65%);
$drac-orange: hsl(31, 100%, 71%);
$drac-pink: hsl(326, 100%, 74%);
$drac-purple: hsl(265, 89%, 78%);
$drac-red: hsl(0, 100%, 67%);
$drac-yellow: hsl(65, 92%, 76%);

// Non-standard Dracula colors
$drac-grey: hsl(225, 8%, 51%);
$drac-teal: hsl(161, 97%, 77%);
$drac-light-blue: hsl(190, 94%, 87%);
$drac-light-green: hsl(135, 92%, 79%);
$drac-dark-pink: hsl(325, 100%, 64%);
$drac-dark-red: hsl(0, 100%, 59%);
$drac-dark-yellow: hsl(51, 94%, 73%);

$drac-default-bg: lighten($drac-bg, 5%);


:root>* {
  --md-admonition-bg-color: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon--settings: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 15.5A3.5 3.5 0 0 1 8.5 12 3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5 3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97 0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1 0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z"/></svg>');
  --md-admonition-bg-color--settings: rgba(170, 0, 255, 0.1);
  --md-admonition-icon-color--settings: #aa00ff;
  --md-admonition-icon--new: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23 12-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12m-10 5h-2v-2h2v2m0-4h-2V7h2v6Z"/></svg>');
  --md-admonition-bg-color--new: rgba(255, 214, 0, 0.1);
  --md-admonition-icon-color--new: #ffd600;
  --md-admonition-bg-color--note: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--note: hsl(51, 94%, 73%);
  --md-admonition-bg-color--abstract: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--abstract: hsl(191, 97%, 77%);
  --md-admonition-bg-color--info: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--info: hsl(190, 94%, 87%);
  --md-admonition-bg-color--tip: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--tip: hsl(161, 97%, 77%);
  --md-admonition-bg-color--success: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--success: hsl(135, 94%, 65%);
  --md-admonition-bg-color--question: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--question: hsl(135, 92%, 79%);
  --md-admonition-bg-color--warning: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--warning: hsl(31, 100%, 71%);
  --md-admonition-bg-color--failure: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--failure: hsl(0, 100%, 59%);
  --md-admonition-bg-color--danger: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--danger: hsl(0, 100%, 67%);
  --md-admonition-bg-color--bug: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--bug: hsl(325, 100%, 64%);
  --md-admonition-bg-color--example: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--example: hsl(265, 89%, 78%);
  --md-admonition-bg-color--quote: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--quote: hsl(225, 8%, 51%);
}