@use "sass:color";

/* dracula vars */
$label: "Dracula";
$fg: hsl(60deg 30% 96%);
$bg: hsl(231deg 15% 18%);
$highlight: hsl(66deg 94% 73%);
$selection: hsl(231deg 25% 25%);
$blue: hsl(225deg 27% 51%);
$cyan: hsl(191deg 97% 77%);
$green: hsl(135deg 94% 65%);
$orange: hsl(31deg 100% 71%);
$pink: hsl(326deg 100% 74%);
$purple: hsl(265deg 89% 78%);
$red: hsl(0deg 100% 67%);
$yellow: hsl(65deg 92% 76%);

/* Non-standard Dracula colors */
$grey: hsl(225deg 8% 51%);
$teal: hsl(161deg 97% 77%);
$light-blue: hsl(190deg 94% 87%);
$light-green: hsl(135deg 92% 79%);
$dark-pink: hsl(325deg 100% 64%);
$dark-red: hsl(0deg 100% 59%);
$dark-yellow: hsl(51deg 94% 73%);
$default-bg: color.adjust($bg, $lightness: 5%);
$bg-radient: linear-gradient(222deg, rgba(44, 42, 42, 0.815), #002f37);
