@use "sass:color";

$label: "Freeman";
$fg: #caa888;
$bg: #141419;
$highlight: hsl(29deg 94% 73%);
$selection: hsl(231deg 25% 25%);
$blue: hsl(225deg 27% 51%);
$cyan: hsl(194deg 85% 41%);
$green: hsl(135deg 100% 59%);
$orange: hsl(36deg 100% 50%);
$pink: hsl(326deg 100% 74%);
$purple: hsl(265deg 89% 78%);
$red: hsl(0deg 100% 67%);
$yellow: hsl(65deg 92% 76%);

/* Non-standard Dracula colors */
$grey: hsl(225deg 8% 51%);
$teal: hsl(161deg 97% 77%);
$light-blue: hsl(190deg 94% 87%);
$light-green: hsl(135deg 92% 79%);
$dark-pink: hsl(325deg 100% 64%);
$dark-red: hsl(0deg 100% 59%);
$dark-yellow: hsl(51deg 94% 73%);

$bg-radient: linear-gradient(180deg, #00bdd6bb, color.adjust($bg, $lightness: 30%));

$default-bg: color.adjust($bg, $lightness: 5%);
$tabs-bg: #0c0c0c99;

/* rgb(69, 69, 96) */
$text: rgb(236 236 236);
$wrapper: #2c313d3d;
$foot-fg: $text;
$foot-bg: $bg;
$sel-text: rgb(42 42 42);
$nav-link: #b8b8ae;
$admo-bg: linear-gradient(45deg, rgb(102 102 102 / 60.5%), #bebebebe);
$gradient: linear-gradient(180deg, #00bdd6bb, color.adjust($bg, $lightness: 30%));
$gradient-anti: linear-gradient(360deg, #2e303d2c, color.adjust($bg, $alpha: 0.1));

// $gradient: linear-gradient(180deg, #5f4292e1, color.adjust($bg, $lightness:  40%));
