$dark-fg: hsl(60, 30%, 96%);
$dark-bg: #141419;
$dark-highlight: hsl(66, 94%, 73%);
$dark-selection: hsl(231, 25%, 25%);
$dark-blue: hsl(225, 27%, 51%);
$dark-cyan: hsl(191, 97%, 77%);
$dark-green: hsl(135, 94%, 65%);
$dark-orange: hsl(31, 100%, 71%);
$dark-pink: hsl(326, 100%, 74%);
$dark-purple: hsl(265, 89%, 78%);
$dark-red: hsl(0, 100%, 67%);
$dark-yellow: hsl(65, 92%, 76%);

/* Non-standard Dracula colors */
$dark-grey: hsl(225, 8%, 51%);
$dark-teal: hsl(161, 97%, 77%);
$dark-light-blue: hsl(190, 94%, 87%);
$dark-light-green: hsl(135, 92%, 79%);
$dark-dark-pink: hsl(325, 100%, 64%);
$dark-dark-red: hsl(0, 100%, 59%);
$dark-dark-yellow: hsl(51, 94%, 73%);

$dark-default-bg: lighten($dark-bg, 5%);
$dark-tabs-bg: #0c0c0c99;

/* rgb(69, 69, 96) */
$dark-text: rgb(218, 218, 218);
$dark-wrapper: #2c313d3d;
$dark-foot-fg: $dark-text;
$dark-foot-bg: $dark-bg;
$dark-sel-text: rgb(42, 42, 42);
$d-nav-link: #90907d;

$dark-admo-bg: linear-gradient(45deg, rgba(102, 102, 102, 0.605), #bebebebe);
$dark-def-bg: linear-gradient(222deg, rgba(44, 42, 42, 0.198), #002f37f1);
$dark-gradient: linear-gradient(180deg, #5f4292e1, darken($dark-bg, 40));
$dark-gradient-anti: linear-gradient(360deg, #2e303d2c, opacify($dark-bg, 0.1));
/*
:root > * {
  --md-admonition-bg-color: var(--md-default-bg-color--ultra-dark);
  --md-admonition-bg-color--sh-luv: rgba(235, 5, 5, 0.2);
  --md-admonition-icon-color--sh-luv: rgb(235, 5, 5);
  --md-admonition-bg-color--settings: rgba(170, 0, 255, 0.1);
  --md-admonition-icon-color--settings: #aa00ff;
  --md-admonition-bg-color--new: rgba(255, 214, 0, 0.1);
  --md-admonition-icon-color--new: #ffd600;
  --md-admonition-bg-color--note: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--note: hsl(51, 94%, 73%);
  --md-admonition-bg-color--abstract: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--abstract: hsl(191, 97%, 77%);
  --md-admonition-bg-color--info: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--info: hsl(190, 94%, 87%);
  --md-admonition-bg-color--tip: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--tip: hsl(161, 97%, 77%);
  --md-admonition-bg-color--success: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--success: hsl(135, 94%, 65%);
  --md-admonition-bg-color--question: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--question: hsl(135, 92%, 79%);
  --md-admonition-bg-color--warning: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--warning: hsl(31, 100%, 71%);
  --md-admonition-bg-color--failure: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--failure: hsl(0, 100%, 59%);
  --md-admonition-bg-color--danger: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--danger: hsl(0, 100%, 67%);
  --md-admonition-bg-color--bug: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--bug: hsl(325, 100%, 64%);
  --md-admonition-bg-color--example: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--example: hsl(265, 89%, 78%);
  --md-admonition-bg-color--quote: var(--md-default-bg-color--ultra-dark);
  --md-admonition-icon-color--quote: hsl(225, 8%, 51%);
}

*/
