{% extends "main.html" %}
{% block styles %} {{ super() }}
{% endblock %}
{% block tabs %} {{ super() }}
{% endblock %}
<!-- Content -->
{% block content %}
<figure>
    <image src="/afk.GG/assets/logo.jpg"></image>
    <figcaption>
        Coming soon!
    </figcaption>
</figure>
  {{ content }}
{% endblock %}
