{% extends "main.html" %}
{% block styles %} {{ super() }}
{% endblock %}
{%block libs%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="module" src="{{ 'javascripts/ts/main.js' | url }}"></script>
{%endblock%}
{% block tabs %} {{ super() }}
{% endblock %}
<!-- Content -->
{% block content %}
{{ super() }}
<div id="app">
</div>
<!---->
{{ content }}
{% endblock %}
{% block scripts %}
<!-- Add scripts that need to run before here -->
{{ super() }}

<script>console.log("aloha amigo")</script>
<!-- Add scripts that need to run afterwards here -->
{% endblock %}