$tip-clr: #00bfa5;
$success-clr: #00c853;
$question-clr: #64dd17;
$warn-clr: #ff9100;
$fail-clr: #ff5252;
$danger-clr: #ff1744;
$bug-clr: #f50057;
$example-clr: #7c4dff;
$quote-clr: #9e9e9e;
$note-clr: #2575ff;
$info-clr: #00b8d4;
$love-clr: #eb0505;
$trans-percent: -93%;

blockquote img {
  display: inline;
  margin: 0;
}

blockquote:has(h6) {
  display: flow-root;
  padding: 0 0 1px 0;
  font-size: 1rem;
  line-height: 2;
  border: 1px solid;
  border-radius: $brd-rad;
  box-shadow: $shadow-adn;
  page-break-inside: avoid;
}

blockquote h6 {
  background-color: #000000;
  margin: 0;
  border-top-right-radius: $brd-rad;
  // color: $admonition-fg-color;
}

blockquote:has(h6) h6:before {
  content: "";
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: $fnt-size;
  padding-left: 40px;
  padding-right: 40px;
}

//////////////////////////////////
/// GFM kramdown "admonitions" //
////////////////////////////////

blockquote {
  @extend .alert !optional;
  @extend .alert-primary !optional;
  @extend .pb-0 !optional;
}

blockquote.success {
  @extend .alert-success !optional;
}

blockquote.danger {
  @extend .alert-danger !optional;
}

blockquote.warning {
  @extend .alert-warning !optional;
}

blockquote.info {
  @extend .alert-info !optional;
}

blockquote.danger h6:before {
  content: "⊠ Danger ";
}

blockquote.warning h6:before {
  background-color: $warn-clr !important;
  -webkit-mask-image: $a-warning !important;
  mask-image: $a-warning !important;
}

blockquote.bug h6:before {
  background-color: $bug-clr !important;
  -webkit-mask-image: $a-bug !important;
  mask-image: $a-bug !important;
}

blockquote.info h6:before {
  background-color: $info-clr !important;
  -webkit-mask-image: $a-info !important;
  mask-image: $a-info !important;
}

blockquote.note h6:before {
  background-color: $note-clr !important;
  -webkit-mask-image: $a-note !important;
  mask-image: $a-note !important;
}

blockquote.tip h6:before {
  background-color: $tip-clr !important;
  -webkit-mask-image: $a-tip !important;
  mask-image: $a-tip !important;
}

blockquote.example h6:before {
  background-color: $example-clr;
  -webkit-mask-image: $a-example;
  mask-image: $a-example;
}

blockquote.abstract h6:before {
  background-color: #00b0ff;
  -webkit-mask-image: $a-abstract !important;
  mask-image: $a-abstract !important;
}

blockquote.tldr h6:before {
  content: "∑⨊⨋" !important;
  color: $info-clr;
}

// p.success:before,
blockquote.success h6:before {
  background-color: $success-clr !important;
  -webkit-mask-image: $a-success !important;
  mask-image: $a-success !important;
}

// blockquote p.question:before,
blockquote.question h6:before {
  background-color: $question-clr !important;
  -webkit-mask-image: $a-question !important;
  mask-image: $a-question !important;
}

blockquote.love h6:before {
  background-color: $love-clr !important;
  -webkit-mask-image: $a-love !important;
  mask-image: $a-love !important;
}

////////////////////////////////
/////////// Left border ////////
//////////// //////////////////

blockquote.tip {
  border-left: 15px groove;
  border-color: $tip-clr;
  background-color: scale-color($tip-clr, $alpha: $trans-percent);
}

blockquote.info {
  border-left: 15px groove;
  border-color: $info-clr;
  background-color: scale-color($info-clr, $alpha: $trans-percent);
}

blockquote.note {
  border-left: 15px groove;
  border-color: $note-clr;
  background-color: scale-color($note-clr, $alpha: $trans-percent);
}
blockquote.example {
  border-left: 15px groove;
  border-color: $example-clr;
  background-color: scale-color($example-clr, $alpha: $trans-percent);
}

blockquote.tldr {
  border-left: 15px groove;
  border-color: $info-clr;
  background-color: scale-color($info-clr, $alpha: $trans-percent);
}

blockquote.warning {
  border-left: 15px groove;
  border-color: $warn-clr;
  background-color: scale-color($warn-clr, $alpha: $trans-percent);
}

blockquote.bug {
  border-left: 15px groove;
  border-color: $bug-clr;
  background-color: scale-color($bug-clr, $alpha: $trans-percent);
}

blockquote.abstract {
  border-left: 15px groove;
  border-color: #00b0ff;
  background-color: scale-color($color: #00b0ff, $alpha: $trans-percent);
}

// blockquote:has(p.success),
blockquote.success {
  border-left: 15px groove;
  border-color: $success-clr;
  background-color: scale-color($success-clr, $alpha: $trans-percent);
}

// blockquote p.question,
blockquote.question {
  border-left: 15px groove;
  border-color: $question-clr;
  background-color: scale-color($question-clr, $alpha: $trans-percent);
}

blockquote.love {
  border-left: 15px groove;
  border-color: $love-clr;
  background-color: scale-color($love-clr, $alpha: $trans-percent);
}
