::selection {
  background-color: hsl(310, 100%, 65%);
  color: hsl(230, 30%, 15%);
  -webkit-text-fill-color: hsl(230, 30%, 15%);
}

.md-tabs {
  display: flex;
  background-color: #222200de;
  -webkit-font-smoothing: subpixel-antialiased;
}
.mdx-container {
  margin: 100px;
}

.glightbox img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.red-font {
  color: #eb01aa !important;
}
.green-f {
  color: green !important;
}
.brown-f {
  color: brown !important;
}
.cyan-f {
  color: cyan !important;
}

em {
  color: skyblue;
}
.md-tabs__link {
  color: #fdf5f5;
}

:root {
  --md-admonition-icon--sh-luv: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
}
.md-typeset .admonition.sh-luv,
.md-typeset details.sh-luv {
  border-color: rgb(235, 5, 5);
}
.md-typeset .sh-luv > .admonition-title,
.md-typeset .sh-luv > summary {
  background-color: rgba(235, 5, 5, 0.2);
}
.md-typeset .sh-luv > .admonition-title::before,
.md-typeset .sh-luv > summary::before {
  background-color: rgba(235, 5, 5);
  -webkit-mask-image: var(--md-admonition-icon--sh-luv);
  mask-image: var(--md-admonition-icon--sh-luv);
}

.mdx-hero__content {
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
}

a[href$="dogdream/"]::after{
  content: "NEW!";
  color: red;
  display: contents;
}


/* .upd::after , */
a[href$="th-retirement/"]::after,
a[href$="#before-beginning"]::after{
  content: "UPD!";
  color: red;
  padding-left: 20px;
  display: contents;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover td {
  color: #72c2ca;
  background-color: #5701eb37;
}

table th,
tbody td {
  text-align: left;
  border: 0.5px solid #eee;
  padding: 10px 10px !important;
  border-collapse: collapse;
  vertical-align: top !important;
  max-width: fit-content;
}


tr:nth-child(even) {
  background-color: #ffd4002b;
}

tr td:first-of-type {
  color: #ff006e;
  font-weight: 700;
}
tr td:last-of-type {
  font-style: oblique;
  font-weight: 600;
}


th {
  text-align: left;
  /* white-space: nowrap; */
  /* transform: rotate(-40deg); */
  padding-left: 0;
  margin-bottom: 1px;
  vertical-align: top;
}

thead {
  text-transform: uppercase;
  text-decoration: underline;
  height:80px;
}


/* body {
  text-align: center;
  background: #ebf4fb;
  min-height: 95vh;
  margin: 0;
  padding: 0;
  border-bottom: 5vh solid #3694d7;
  font-family: "Myriad Pro", "Arial", sans;
  font-size: 24px;
} */

.dropdown-el {
  margin-top: 20vh;
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
  background: #def;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  border-top: 0.06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: 0.25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: 0.55em;
}


#tbl {
  display: block;
  margin: auto;
  width: 8em;
}