::selection {
  background-color: hsl(310, 100%, 65%);
  color: hsl(230, 30%, 15%);
  -webkit-text-fill-color: hsl(230, 30%, 15%);
}

.md-tabs {
  display: flex;
  background-color: #222200de;
  -webkit-font-smoothing: subpixel-antialiased;
}
.mdx-container {
  margin: 100px;
}

.glightbox img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.red-font {
  color: #eb01aa !important;
}
.green-f {
  color: green !important;
}
.brown-f {
  color: brown !important;
}
.cyan-f {
  color: cyan !important;
}

em {
  color: skyblue;
}
.md-tabs__link {
  color: #fdf5f5;
}

:root {
  --md-admonition-icon--sh-luv: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
}
.md-typeset .admonition.sh-luv,
.md-typeset details.sh-luv {
  border-color: rgb(235, 5, 5);
}
.md-typeset .sh-luv > .admonition-title,
.md-typeset .sh-luv > summary {
  background-color: rgba(235, 5, 5, 0.2);
}
.md-typeset .sh-luv > .admonition-title::before,
.md-typeset .sh-luv > summary::before {
  background-color: rgba(235, 5, 5);
  -webkit-mask-image: var(--md-admonition-icon--sh-luv);
  mask-image: var(--md-admonition-icon--sh-luv);
}

.mdx-hero__content {
  display: flex;
  justify-content: space-between;
  -webkit-font-smoothing: subpixel-antialiased;
}

a[href*="dogdream"]::after {
  content: "NEW!";
  color: red;
  display: contents;
}