
{% extends "main.html" %}

{% block htmltitle %}

  {{ super() }}
  <link rel="stylesheet" href="{{ 'css/blog.css' | url }}" />
{% endblock htmltitle %}

{% block styles %}

  {{ super() }}

{% endblock styles %}

{% block tabs %}

  {{ super() }}
{% endblock tabs %}

{% block content %}

  {{ super() }}
{% endblock content %}

{% block footer %}

  {% include "templates/section/metainf.j2" %}

  {{ super() }}

{% endblock footer %}
