{% extends "main.html" %}

{% block libs %}
{% endblock %}

{% block htmltitle %}
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
<style>
  .authored>code {
    display: block;
    border-radius: 10px;
    font-family: 'Fenix', 'Marvel', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
  }
</style>
{%endblock%}

{% block tabs %}
{{ super() }}
{% endblock %}

{% block content %}

{{ super() }}
{% if page.meta and page.meta.author %}
<span class="authored">
  <code>✎ Written by 🡺 {{ page.meta.author }}</code>
</span>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="{{ 'js/ts/memes.js' | url }}"></script>
{% endblock %}