{% extends "main.html" %}

{% block htmltitle %}

{{ super() }}
{% endblock htmltitle %}

{% block styles %}

{{ super() }}
{% endblock styles %}

{% block libs %}

{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="module" src="{{ 'js/ts/main.js' | url }}"></script>
{% endblock libs %}

{% block tabs %}

{{ super() }}
{% endblock tabs %}