{% extends "main.html" %}

{% from 'templates/macro/input.j2' import input with context %}

{% block styles %}

{{ super() }}
{% endblock styles %}

{% block libs %}

{{ super() }}
<script type="module" src="{{ 'js/ts/gamevents/abex.js' | url }}"></script>
<script type="module" src="{{ 'js/ts/components/timeleft.js' | url }}"></script>
<script type="module" src="{{ 'js/ts/gamevents/attackform.js' | url }}"></script>
<script type="module" src="{{ 'js/ts/gamevents/relic.js' | url }}"></script>

{% endblock libs %}

{% block tabs %}

{{ super() }}
{% endblock tabs %}
<!-- Content -->

{% block content %}
{{ super() }}
{% endblock content %}
{% block scripts %}
{{ super() }}
<script type="module">
  import * as ab from "../../js/ts/gamevents/abex.js"
  import { loadBag, runRelic } from "../../js/ts/gamevents/relic.js"
  ab.default()
  runRelic()
  loadBag();
</script>
{% endblock scripts %}