@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

figure > img {
    overflow: hidden;
    border-radius: 10px;
}

a[class=glightbox] > img[class=mem] {
    overflow-y: hidden;
    max-height: 7rem;
    box-shadow: 0px 0px 5px 6px rgb(40 192 211 / 38%);
    margin: 15px;
}
#memes {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  a[class="glightbox"] {
        overflow-y: hidden;
        // max-height: 5rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.red-font {
    color: #eb01aa !important;
}

.green-f {
    color: green !important;
}

.brown-f {
    color: brown !important;
}

.cyan-f {
    color: cyan !important;
}

em {
    color: rgb(33, 111, 222);
}

img {
    border-radius: 10px;  
}

[data-md-color-scheme=slate] .md-header__option:before {
    content: "Dark \aSide";
}
[data-md-color-scheme=default] .md-header__option:before {
    content: "Jedi \aSide";
}

.md-header__option:before {
    font-family: 'Marvel','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: pre;
    font-weight: 900;
    font-size: 16px;
    padding: 10px 0;
}

.new::after {
    content: "new!";
    font-size: small;
    color: red;
    vertical-align: super;
}

.upd::after {
    content: "upd!";
    font-size: small;
    color: red;
    vertical-align: super;
}

.publdate {
    text-align: center;
    display: block;
    -webkit-text-stroke: rgb(0, 227, 255);
    font-style: oblique;
}

.flbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}


h1 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

h2 {
    text-shadow: #FC0 1px 0 10px;
}