$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;


.misty-group > input[type=radio][name="selector"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.misty-group > label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

.misty-group > input[type=radio][name="selector"] :checked + label{
  color: lighten($bg,60%);
  background: $fg;
}

.misty-group > label + input[type=radio][name="selector"]  + label {
  border-left: solid $borderWidth $fg;
}
.misty-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}